/* Header container */
.header {
    box-shadow: 0px 3px 5px #ddd;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute content evenly */
     /* Ensure full width */
    background-color: #fff; /* Add a background color (optional) */
    padding: 0 100px;
  }
  
  /* Menu links and icons */
  .header ul {
    display: flex;
    align-items: center;
    list-style: none; /* Remove default list bullets */
    margin: 0; /* Remove default margin */
  }
  
  .header ul li {
    margin-right: 20px;
    cursor: pointer;
  }
  .leftSide{
    display: flex;
    flex-direction: row;
  }
  .rightSide{
    display: flex;
    flex-direction: row;
  }
  .mobileMenu{
    visibility: hidden;
  }
  
  /* Adjust for icons */
  .header .menu{
    display: flex ;
    margin-right: 5px; /* Adjust the spacing as needed */
}
.header .menu .FontAwesomeIcon{
  margin-right: 5px; 
}

.hasCirle{
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  background-color: gainsboro;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  }
  .shopi {
    color: blue; /* Use unquoted color values for efficiency */
    font-size: 20px; /* Hyphenate font-size */
    font-weight: bold; /* Add a semicolon */
    margin-right: 40px; /* Use hyphens for margin-right */
    list-style: none; /* Correctly apply list-style: none */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .socialIconMobile{
    visibility: hidden;
  }
  .socialIcon{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media only screen and (max-width: 600px) {
    .mobileMenu{
      visibility: visible;
      font-size: x-large;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
    .socialIcon ul{
      display: none;
    }
    .menu ul {
      display: none;
    }
    .shopi{
      margin-right: 20px;
    }
    .socialIconMobile{
      visibility: visible;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }

  }